
/*
 * Styles used in most CivicPixel sites
 */

/**  Search Box Style **/
input#edit-search-theme-form-1,
input#edit-search-block-form-1
{
  background-color: #58585a;
  border: none;
  color: #fff;
}

#search-box {
  margin: 0;
  margin: 22px 10px 0 0;
  height: 22px;
  line-height: 22px;
}

#edit-search-block-form-1-wrapper label {
  color: #58585a;
}

#search-box input#edit-submit-1,
#search-box input#edit-submit {
  background: transparent url(img/button-search.png) scroll no-repeat center center;
  border: 0;
  height: 22px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  width: 55px;
}

/* login button for not logged in users */
#user-login-form input#edit-submit {
  background-color: #98160b;
  border: 0;
  height: 22px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
  width: 55px;
}
#user-login-form input#edit-submit:hover {
  background-color: #58585a;
  cursor: pointer;
}


/** LEFT MENU STYLING ala Denver Foundation and CO Humanities **/

/* get rid of Zen's right margin from layout.css */
#sidebar-left-inner {
  margin: 0;
}

/* this part changes from site to site */
#sidebar-left li
{
  background-color: none;
  margin: 0;
/**
  border-bottom: 1px dashed rgb(45,31,84);
**/
}
#sidebar-left li.expanded {
  background-color: #b5b7b9;
}

#sidebar-left ul li a {
  font-weight: normal;
  font-size: 13px;
  padding: 10px;
}
#sidebar-left ul.menu-static li a {
  padding: 0 9px 0 2px;
}
/*  Level 1 - - - - - - - - - - - - - - - - - - - - - */
#sidebar-left ul.menu li {
  list-style-image: none;
  list-style-type: none;
  border-bottom: 1px #fff solid;
}

#sidebar-left ul.menu li a:visited,
#sidebar-left ul.menu li a {
  color: #fff;
  text-decoration: none;
}
#sidebar-left ul.menu li a.active,
#sidebar-left ul.menu li:hover,
#sidebar-left ul.menu li a:hover {
  color: #000 !important;
}
#sidebar-left ul.menu li.collapsed a {
  padding-right: 25px;
  background: transparent url(img/arrows-right-invert.png) scroll no-repeat right center;
}
#sidebar-left ul.menu li.collapsed a:hover {
  background: #e7e7e8 url(img/arrows-right.png) scroll no-repeat right center;
}
#sidebar-left ul.menu li.expanded a {
  padding-right: 25px;
  background: transparent url(img/arrows-down.png) scroll no-repeat right center;
  color: #000;
}
#sidebar-left ul.menu li a.active,
#sidebar-left ul.menu li a:hover {
  background-color: #e7e7e8;
}

/*  Level 2 - - - - - - - - - - - - - - - - - - - - - */
#sidebar-left li li {
  border-bottom: 1px dashed rgb(45,31,84);
}
#sidebar-left li li:hover {
/*  background-color: rgb(227,230,204); */
}
#sidebar-left ul.menu ul li {
  border-bottom: none;
  border-top: 1px #fff solid;
}

#sidebar-left ul.menu li.expanded ul li a {
  background-color: #b5b7b9;
  padding-left: 19px;
}
#sidebar-left ul.menu li.expanded ul li a:hover {
  background-color: #f2f2f3;
}

#sidebar-left ul.menu li ul li.expanded {
  background-color: #b5b7b9;
}

#sidebar-left ul.menu li.expanded ul li a {
  background: none;
}

/*  Level 3 - - - - - - - - - - - - - - - - - - - - - */
#sidebar-left ul.menu li.expanded ul li ul li a {
  padding-left: 28px;
}


/* Left Sidebar LIGHT TEXT COLOR */
#sidebar-left li.expanded a,
#sidebar-left li.expanded a:hover,
#sidebar-left li.expanded li.expanded a:hover {
  color: #edefe4;
}

/* Left Sidebar DARK TEXT COLOR */
a,
#sidebar-left a,
#sidebar-left a:link,
#sidebar-left a:visited,
#sidebar-left a:active,
#sidebar-left li a:hover,
#sidebar-left li.leaf a,
#sidebar-left li.collapsed a,
#sidebar-left li li a,
#sidebar-left li li.leaf a:hover,
#sidebar-left li.expanded li a:hover,
#sidebar-left li.expanded li.leaf a:hover,
#sidebar-left li.expanded li.collapsed a:hover {
  color: #13618f;
}

#sidebar-left li.active-trail {
/*  background-color: #c1b9d6; */
}


/* This part stays the same across sites */

/* The rest here should be tweaked to be just a base for future menus */
/* that can be overridden */

#sidebar-left ul {
  position: relative;
  padding: 0;
  margin: 0;
}
#sidebar-left ul.links li {
  display: block;
  padding: 0;
}
#sidebar-left li
{
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}
#sidebar-left li li {
  padding: 0;
}
#sidebar-left li.expanded li.expanded {
  padding: 0;
}
#sidebar-left li li li,
#sidebar-left li.expanded li.expanded a.active {
  padding-left: 10px;
}


#sidebar-left ul li a {
  text-decoration: none;
  display: block;
  margin-left: 0px;
}

#sidebar-left li li a {
  border: 0;
  font-weight: normal;
}

#sidebar-left li.expanded a {
  background: transparent url(arrows/arrow-down.png) scroll no-repeat left center;
}
#sidebar-left li.expanded li.expanded {
  background-image: none;
}
#sidebar-left li.expanded li.expanded ul a {
  background: none;
}
#sidebar-left li.collapsed a {
  background: transparent url(arrows/arrow-right.png) scroll no-repeat left center;
  background: transparent url(arrows/arrow-right-CH.png) scroll no-repeat left center;
}
#sidebar-left li.leaf a {
  background: none;
}
