
/*
 * DRUPAL 6.x Reference CSS
 *
 * THIS FILE IS FOR REFERENCE ONLY AND IS NOT USED IN ANY WAY BY THE ZEN THEME.
 *
 * Drupal has very modular CSS. Which means that only the CSS that is needed
 * for a particular page is loaded. This is a good thing.
 *
 * However, this makes it difficult for theme developers to discover how and
 * where a particular style is coming from. So, here in all its glory is the
 * complete CSS included with Drupal core 6.x.
 *
 * And, if you're not already, you should check out the free Firebug extension
 * for Firefox. With it, you can inspect elements and easily view and play with
 * its CSS styles.  http://www.getfirebug.com
 */

/* modules/aggregator/aggregator-rtl.css */

  #aggregator .feed-source .feed-icon {
    float: left;
  }

/* modules/aggregator/aggregator.css */

  #aggregator .feed-source .feed-title {
    margin-top: 0;
  }
  #aggregator .feed-source .feed-image img {
    margin-bottom: 0.75em;
  }
  #aggregator .feed-source .feed-icon {
    float: right; /* LTR */
    display: block;
  }
  #aggregator .feed-item {
    margin-bottom: 1.5em;
  }
  #aggregator .feed-item-title {
    margin-bottom: 0;
    font-size: 1.3em;
  }
  #aggregator .feed-item-meta, #aggregator .feed-item-body {
    margin-bottom: 0.5em;
  }
  #aggregator .feed-item-categories {
    font-size: 0.9em;
  }
  #aggregator td {
    vertical-align: bottom;
  }
  #aggregator td.categorize-item {
    white-space: nowrap;
  }
  #aggregator .categorize-item .news-item .body {
    margin-top: 0;
  }
  #aggregator .categorize-item h3 {
    margin-bottom: 1em;
    margin-top: 0;
  }

/* modules/block/block.css */

  #blocks td.region {
    font-weight: bold;
  }
  #blocks tr.region-message {
    font-weight: normal;
    color: #999;
  }
  #blocks tr.region-populated {
    display: none;
  }
  .block-region {
    background-color: #ff6;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 3px;
  }

/* modules/book/book-rtl.css */

  .book-navigation .page-previous {
    float: right;
  }
  .book-navigation .page-up {
    float: right;
  }

/* modules/book/book.css */

  .book-navigation .menu {
    border-top: 1px solid #888;
    padding: 1em 0 0 3em;
  }
  .book-navigation .page-links {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    text-align: center;
    padding: 0.5em;
  }
  .book-navigation .page-previous {
    text-align: left;
    width: 42%;
    display: block;
    float: left; /* LTR */
  }
  .book-navigation .page-up {
    margin: 0 5%;
    width: 4%;
    display: block;
    float: left; /* LTR */
  }
  .book-navigation .page-next {
    text-align: right;
    width: 42%;
    display: block;
    float: right;
  }
  #book-outline {
    min-width: 56em;
  }
  .book-outline-form .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }
  #edit-book-bid-wrapper .description {
    clear: both;
  }
  #book-admin-edit select {
    margin-right: 24px;
  }
  #book-admin-edit select.progress-disabled {
    margin-right: 0;
  }
  #book-admin-edit tr.ahah-new-content {
    background-color: #ffd;
  }
  #book-admin-edit .form-item {
    float: left;
  }/* $Id: color-rtl.css */

  #placeholder {
    left: 0;
    right: auto;
  }

  /* Palette */
  .color-form .form-item {
    padding-left: 0;
    padding-right: 1em;
  }
  .color-form label {
    float: right;
    clear: right;
  }
  .color-form .form-text, .color-form .form-select {
    float: right;
  }
  .color-form .form-text {
    margin-right: 0;
    margin-left: 5px;
  }

  #palette .hook {
    float: right;
  }
  #palette .down, #palette .up, #palette .both {
    background: url(images/hook-rtl.png) no-repeat 0 0;
  }
  #palette .up {
    background-position: 0 -27px;
  }
  #palette .both {
    background-position: 0 -54px;
  }

  #palette .lock {
    float: right;
    right: -10px;
  }
  html.js #preview {
    float: right;
  }

/* modules/color/color.css */

  /* Farbtastic placement */
  .color-form {
    max-width: 50em;
    position: relative;
  }
  #placeholder {
    position: absolute;
    top: 0;
    right: 0; /* LTR */
  }

  /* Palette */
  .color-form .form-item {
    height: 2em;
    line-height: 2em;
    padding-left: 1em; /* LTR */
    margin: 0.5em 0;
  }
  .color-form label {
    float: left; /* LTR */
    clear: left; /* LTR */
    width: 10em;
  }
  .color-form .form-text, .color-form .form-select {
    float: left; /* LTR */
  }
  .color-form .form-text {
    text-align: center;
    margin-right: 5px; /* LTR */
    cursor: pointer;
  }

  #palette .hook {
    float: left; /* LTR */
    margin-top: 3px;
    width: 16px;
    height: 16px;
  }
  #palette .down, #palette .up, #palette .both {
    background: url(images/hook.png) no-repeat 100% 0; /* LTR */
  }
  #palette .up {
    background-position: 100% -27px; /* LTR */
  }
  #palette .both {
    background-position: 100% -54px; /* LTR */
  }

  #palette .lock {
    float: left; /* LTR */
    position: relative;
    top: -1.4em;
    left: -10px; /* LTR */
    width: 20px;
    height: 25px;
    background: url(images/lock.png) no-repeat 50% 2px;
    cursor: pointer;
  }
  #palette .unlocked {
    background-position: 50% -22px;
  }
  #palette .form-item {
    width: 20em;
  }
  #palette .item-selected {
    background: #eee;
  }

  /* Preview */
  #preview {
    display: none;
  }
  html.js #preview {
    display: block;
    position: relative;
    float: left; /* LTR */
  }

/* modules/comment/comment-rtl.css */

  .indented {
    margin-left: 0;
    margin-right: 25px;
  }

/* modules/comment/comment.css */

  .indented {
    margin-left: 25px; /* LTR */
  }
  .comment-unpublished {
    background-color: #fff4f4;
  }
  .preview .comment {
    background-color: #ffffea;
  }

/* modules/dblog/dblog-rtl.css */

  #dblog-filter-form .form-item {
    float: right;
    padding-right: 0;
    padding-left: .8em;
  }

/* modules/dblog/dblog.css */

  #dblog-filter-form .form-item {
    float: left; /* LTR */
    padding-right: .8em; /* LTR */
    margin: 0.1em;
    /**
     * In Opera 9, DOM elements with the property of "overflow: auto"
     * will partially hide its contents with unnecessary scrollbars when
     * its immediate child is floated without an explicit width set.
     */
    width: 15em;
  }
  #dblog-filter-form .form-item select.form-select {
    width: 100%;
  }
  tr.dblog-user {
    background: #ffd;
  }
  tr.dblog-user .active {
    background: #eed;
  }
  tr.dblog-content {
    background: #ddf;
  }
  tr.dblog-content .active {
    background: #cce;
  }
  tr.dblog-page-not-found, tr.dblog-access-denied {
    background: #dfd;
  }
  tr.dblog-page-not-found .active, tr.dblog-access-denied .active {
    background: #cec;
  }
  tr.dblog-error {
    background: #ffc9c9;
  }
  tr.dblog-error .active {
    background: #eeb9b9;
  }

/* modules/forum/forum-rtl.css */

  #forum tr td.forum {
    padding-left: 0.5em;
    padding-right: 25px;
    background-position: 98% 2px;
  }
  .forum-topic-navigation {
    padding: 1em 3em 0 0;
  }
  .forum-topic-navigation .topic-previous {
    text-align: left;
    float: right;
  }
  .forum-topic-navigation .topic-next {
    text-align: right;
    float: left;
  }

/* modules/forum/forum.css */

  #forum .description {
    font-size: 0.9em;
    margin: 0.5em;
  }
  #forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
    white-space: nowrap;
  }
  #forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
    text-align: center;
  }
  #forum tr td.forum {
    padding-left: 25px; /* LTR */
    background-position: 2px 2px; /* LTR */
    background-image: url(../../misc/forum-default.png);
    background-repeat: no-repeat;
  }
  #forum tr.new-topics td.forum {
    background-image: url(../../misc/forum-new.png);
  }
  #forum div.indent {
    margin-left: 20px;
  }

  .forum-topic-navigation {
    padding: 1em 0 0 3em; /* LTR */
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    text-align: center;
    padding: 0.5em;
  }
  .forum-topic-navigation .topic-previous {
    text-align: right; /* LTR */
    float: left; /* LTR */
    width: 46%;
  }
  .forum-topic-navigation .topic-next {
    text-align: left; /* LTR */
    float: right; /* LTR */
    width: 46%;
  }

/* modules/help/help-rtl.css */

  .help-items {
    float: right;
    padding-right: 0;
    padding-left: 3%;
  }
  .help-items-last {
    padding-right: 0;
    padding-left: 0;
  }

/* modules/help/help.css */

  .help-items {
    float: left; /* LTR */
    width: 22%;
    padding-right: 3%; /* LTR */
  }
  .help-items-last {
    padding-right: 0; /* LTR */
  }

/* modules/locale/locale.css */

  .locale-untranslated {
    font-style: normal;
    text-decoration: line-through;
  }

/* modules/node/node-rtl.css */

  #node-admin-buttons {
    float: right;
    margin-left: 0;
    margin-right: 0.5em;
    clear: left;
  }

/* modules/node/node.css */

  .node-unpublished {
    background-color: #fff4f4;
  }
  .preview .node {
    background-color: #ffffea;
  }
  #node-admin-filter ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #node-admin-buttons {
    float: left; /* LTR */
    margin-left: 0.5em; /* LTR */
    clear: right; /* LTR */
  }
  td.revision-current {
    background: #ffc;
  }
  .node-form .form-text {
    display: block;
    width: 95%;
  }
  .node-form .container-inline .form-text {
    display: inline;
    width: auto;
  }
  .node-form .standard {
    clear: both;
  }
  .node-form textarea {
    display: block;
    width: 95%;
  }
  .node-form .attachments fieldset {
    float: none;
    display: block;
  }
  .terms-inline {
    display: inline;
  }

/* modules/openid/openid.css */

  #edit-openid-identifier {
    background-image: url("login-bg.png");
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
  }

  div#edit-openid-identifier-wrapper {
    display: block;
  }

  html.js #user-login-form div#edit-openid-identifier-wrapper,
  html.js #user-login div#edit-openid-identifier-wrapper {
    display: none;
  }

  html.js #user-login-form li.openid-link,
  html.js #user-login li.openid-link {
    display : block;
  }

  #user-login-form ul {
    margin-top: 0;
  }

  #user-login-form li.openid-link,
  #user-login-form li.user-link,
  #user-login li.openid-link,
  #user-login li.user-link {
    display: none;
  }

  #user-login-form li.openid-link,
  #user-login-form li.user-link {
    text-align : left;
  }

  #user-login-form li.openid-link,
  #user-login li.openid-link {
    background: transparent url(login-bg.png) no-repeat scroll 1px 0.35em;
  }

/* modules/poll/poll-rtl.css */

  .poll .bar .foreground {
    float: right;
  }
  .poll .percent {
    text-align: left;
  }
  .poll .vote-form .choices {
    text-align: right;
  }

/* modules/poll/poll.css */

  .poll .bar {
    height: 1em;
    margin: 1px 0;
    background-color: #ddd;
  }
  .poll .bar .foreground {
    background-color: #000;
    height: 1em;
    float: left; /* LTR */
  }
  .poll .links {
    text-align: center;
  }
  .poll .percent {
    text-align: right; /* LTR */
  }
  .poll .total {
    text-align: center;
  }
  .poll .vote-form {
    text-align: center;
  }
  .poll .vote-form .choices {
    text-align: left; /* LTR */
    margin: 0 auto;
    display: table;
  }
  .poll .vote-form .choices .title {
    font-weight: bold;
  }
  .node-form #edit-poll-more {
    margin: 0;
  }
  td.poll-chtext {
    width: 80%;
  }
  td.poll-chvotes .form-text {
    width: 85%;
  }

/* modules/profile/profile.css */

  #profile-fields td.category {
    font-weight: bold;
  }
  #profile-fields tr.category-message {
    color: #999;
  }
  #profile-fields tr.category-populated {
    display: none;
  }

/* modules/search/search-rtl.css */

  .search-advanced .criterion {
    float: right;
    margin-right: 0;
    margin-left: 2em;
  }
  .search-advanced .action {
    float: right;
    clear: right;
  }

/* modules/search/search.css */

  .search-form {
    margin-bottom: 1em;
  }
  .search-form input {
    margin-top: 0;
    margin-bottom: 0;
  }
  .search-results p {
    margin-top: 0;
  }
  .search-results dt {
    font-size: 1.1em;
  }
  .search-results dd {
    margin-bottom: 1em;
  }
  .search-results .search-info {
    font-size: 0.85em;
  }
  .search-advanced .criterion {
    float: left; /* LTR */
    margin-right: 2em; /* LTR */
  }
  .search-advanced .action {
    float: left; /* LTR */
    clear: left; /* LTR */
  }

/* modules/system/admin-rtl.css */

  div.admin-panel .body {
    padding: 0 8px 2px 4px;
  }

  div.admin .expert-link {
    text-align: left;
    margin-right: 0;
    margin-left: 1em;
    padding-right: 0;
    padding-left: 4px;
  }

  table.system-status-report th, table.system-status-report tr.merge-up td {
    padding-right: 30px;
  }

  table.system-status-report th {
    background-position: 95% 50%;
  }

  table.screenshot {
    margin-left: 1em;
  }

  .date-container {
    clear: right;
  }
  .date-container .select-container, .date-container .custom-container {
    float: right;
  }
  .date-container .custom-container {
    margin-left: 0;
    margin-right: 15px;
  }


/* modules/system/admin.css */

  /*
  ** Formatting for administration page
  */
  div.admin-panel {
    margin: 0;
    padding: 5px 5px 15px 5px;
  }

  div.admin-panel .description {
    margin: 0 0 3px;
    padding: 2px 0 3px 0;
  }

  div.admin-panel .body {
    padding: 0 4px 2px 8px; /* LTR */
  }

  div.admin {
    padding-top: 15px;
  }

  div.admin .left {
    float: left;
    width: 47%;
    margin-left: 1em;
  }
  div.admin .right {
    float: right;
    width: 47%;
    margin-right: 1em;
  }

  div.admin .expert-link {
    text-align: right; /* LTR */
    margin-right: 1em; /* LTR */
    padding-right: 4px; /* LTR */
  }

  table.package {
    width: 100%;
  }
  table.package .description {
    width: 100%;
  }
  div.admin-dependencies, div.admin-required {
    font-size: 0.9em;
    color: #444;
  }
  span.admin-disabled {
    color: #800;
  }
  span.admin-enabled {
    color: #080;
  }
  span.admin-missing {
    color: #f00;
  }

  /**
   * Formatting for status report
   */
  table.system-status-report th {
    border-bottom: 1px solid #ccc;
  }
  table.system-status-report th, table.system-status-report tr.merge-up td {
    padding-left: 30px; /* LTR */
  }
  table.system-status-report th {
    background-repeat: no-repeat;
    background-position: 5px 50%; /* LTR */
    padding-top: 6px;
    padding-bottom: 6px;
  }
  table.system-status-report tr.error th {
    background-image: url(../../misc/watchdog-error.png);
  }
  table.system-status-report tr.warning th {
    background-image: url(../../misc/watchdog-warning.png);
  }
  table.system-status-report tr.ok th {
    background-image: url(../../misc/watchdog-ok.png);
  }

  /**
   * Formatting for theme configuration
   */
  .theme-settings-left {
    float: left;
    width: 49%;
  }
  .theme-settings-right {
    float: right;
    width: 49%;
  }
  .theme-settings-bottom {
    clear: both;
  }

  /**
   * Formatting for theme overview
   */
  table.screenshot {
    margin-right: 1em; /* LTR */
  }
  .theme-info h2 {
    margin-bottom: 0;
  }
  .theme-info p {
    margin-top: 0;
  }


  /**
   * Date and time settings page
   */
  .date-container {
    overflow: auto;
    clear: left; /* LTR */
  }
  .date-container .form-item {
    margin-top: 0;
  }
  .date-container .select-container, .date-container .custom-container {
    float: left; /* LTR */
  }
  .date-container .custom-container {
    margin-left: 15px; /* LTR */
    width: 50%;
  }
  html.js .custom-container label {
    visibility: hidden;
  }

/* modules/system/defaults-rtl.css */

  th {
    text-align: right;
    padding-right: 0;
    padding-left: 1em;
  }

/* modules/system/defaults.css */

  /*
  ** HTML elements
  */
  fieldset {
    margin-bottom: 1em;
    padding: .5em;
  }
  form {
    margin: 0;
    padding: 0;
  }
  hr {
    height: 1px;
    border: 1px solid gray;
  }
  img {
    border: 0;
  }
  table {
    border-collapse: collapse;
  }
  th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }

  /*
  ** Markup free clearing
  ** Details: http://www.positioniseverything.net/easyclearing.html
  */
  .clear-block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .clear-block {
    display: inline-block;
  }

  /* Hides from IE-mac \*/
  * html .clear-block {
    height: 1%;
  }
  .clear-block {
    display: block;
  }
  /* End hide from IE-mac */

/* modules/system/maintenance.css */

  /* Update styles */
  #update-results {
    margin-top: 3em;
    padding: 0.25em;
    border: 1px solid #ccc;
    background: #eee;
    font-size: smaller;
  }
  #update-results h2 {
    margin-top: 0.25em;
  }
  #update-results h4 {
    margin-bottom: 0.25em;
  }
  #update-results li.none {
    color: #888;
    font-style: italic;
  }
  #update-results li.failure strong {
    color: #b63300;
  }

/* modules/system/system-menus-rtl.css */

  ul.menu {
    text-align:right;
  }
  ul.menu li {
    margin: 0 0.5em 0 0;
  }
  li.expanded {
    padding: 0.2em 0 0 0.5em;
  }
  li.collapsed {
    list-style-image: url(../../misc/menu-collapsed-rtl.png);
    padding: 0.2em 0 0 0.5em;
  }
  li.leaf {
    padding: 0.2em 0 0 0.5em;
  }

/* modules/system/system-menus.css */

  ul.menu {
    list-style: none;
    border: none;
    text-align:left; /* LTR */
  }
  ul.menu li {
    margin: 0 0 0 0.5em; /* LTR */
  }
  li.expanded {
    list-style-type: circle;
    list-style-image: url(../../misc/menu-expanded.png);
    padding: 0.2em 0.5em 0 0; /* LTR */
    margin: 0;
  }
  li.collapsed {
    list-style-type: disc;
    list-style-image: url(../../misc/menu-collapsed.png); /* LTR */
    padding: 0.2em 0.5em 0 0; /* LTR */
    margin: 0;
  }
  li.leaf {
    list-style-type: square;
    list-style-image: url(../../misc/menu-leaf.png);
    padding: 0.2em 0.5em 0 0; /* LTR */
    margin: 0;
  }
  li a.active {
    color: #000;
  }
  td.menu-disabled {
    background: #ccc;
  }
  ul.links {
    margin: 0;
    padding: 0;
  }
  ul.links.inline {
    display: inline;
  }
  ul.links li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }
  .block ul {
    margin: 0;
    padding: 0 0 0.25em 1em; /* LTR */
  }

/* modules/system/system-rtl.css */

  thead th {
    text-align: right;
    padding-left: 1em;
    padding-right: 0.5em;
  }

  .item-list .icon {
    float: left;
    padding-left: 0;
    padding-right: 0.25em;
    clear: left;
  }
  .item-list ul li {
    margin: 0 1.5em 0.25em 0;
  }

  .more-link {
    text-align: left;
  }
  .more-help-link {
    text-align: left;
  }

  dl.multiselect dt, dl.multiselect dd {
    float: right;
    margin: 0 0 0 1em;
  }

  .block ul {
    padding: 0 1em 0.25em 0;
  }

  ul.primary {
    padding: 0 1em 0 0;
  }
  ul.primary li a {
    margin-right: 5px;
    margin-left: 0.5em;
  }
  ul.secondary li {
    display: inline;
    padding: 0 1em;
    border-right: none;
    border-left: 1px solid #ccc;
  }
  html.js input.form-autocomplete {
    background-position: 0% 2px;
  }
  html.js input.throbbing {
    background-position: 0% -18px;
  }

  html.js fieldset.collapsible legend a {
    padding-left: 0;
    padding-right: 15px;
    background-position: 98% 75%;
  }
  html.js fieldset.collapsed legend a {
    background-image: url(../../misc/menu-collapsed-rtl.png);
    background-position: 98% 50%;
  }

  div.teaser-button-wrapper {
    float: left;
    padding-right: 0;
    padding-left: 5%;
  }
  .teaser-checkbox div.form-item {
    float: left;
    margin: 0 0 0 5%;
  }
  .progress .percentage {
    float: left;
  }
  .progess-disabled {
    float: right;
  }
  .ahah-progress {
    float: right;
  }
  .ahah-progress .throbber {
    float: right;
  }
  input.password-field {
    margin-left: 10px;
    margin-right: 0;
  }
  input.password-confirm {
    margin-left: 10px;
    margin-right: 0;
  }

  .draggable a.tabledrag-handle {
    float: right;
    margin: -0.4em -0.5em -0.4em 0;
    padding: 0.42em 0.5em 0.42em 1.5em;
  }
  div.indentation {
    margin: -0.4em -0.4em -0.4em 0.2em;
    padding: 0.42em 0.6em 0.42em 0;
    float: right;
  }
  div.tree-child, div.tree-child-last {
    background-position: -65px center;
  }

/* modules/system/system.css */

  /*
  ** HTML elements
  */
  body.drag {
    cursor: move;
  }
  th.active img {
    display: inline;
  }
  tr.even, tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
  }
  tr.drag {
    background-color: #fffff0;
  }
  tr.drag-previous {
    background-color: #ffd;
  }
  td.active {
    background-color: #ddd;
  }
  td.checkbox, th.checkbox {
    text-align: center;
  }
  tbody {
    border-top: 1px solid #ccc;
  }
  tbody th {
    border-bottom: 1px solid #ccc;
  }
  thead th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }

  /*
  ** Other common styles
  */
  .breadcrumb {
    padding-bottom: .5em
  }
  div.indentation {
    width: 20px;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
    padding: 0.42em 0 0.42em 0.6em; /* LTR */
    float: left; /* LTR */
  }
  div.tree-child {
    background: url(../../misc/tree.png) no-repeat 11px center; /* LTR */
  }
  div.tree-child-last {
    background: url(../../misc/tree-bottom.png) no-repeat 11px center; /* LTR */
  }
  div.tree-child-horizontal {
    background: url(../../misc/tree.png) no-repeat -11px center;
  }
  .error {
    color: #e55;
  }
  div.error {
    border: 1px solid #d77;
  }
  div.error, tr.error {
    background: #fcc;
    color: #200;
    padding: 2px;
  }
  .warning {
    color: #e09010;
  }
  div.warning {
    border: 1px solid #f0c020;
  }
  div.warning, tr.warning {
    background: #ffd;
    color: #220;
    padding: 2px;
  }
  .ok {
    color: #008000;
  }
  div.ok {
    border: 1px solid #00aa00;
  }
  div.ok, tr.ok {
    background: #dfd;
    color: #020;
    padding: 2px;
  }
  .item-list .icon {
    color: #555;
    float: right; /* LTR */
    padding-left: 0.25em; /* LTR */
    clear: right; /* LTR */
  }
  .item-list .title {
    font-weight: bold;
  }
  .item-list ul {
    margin: 0 0 0.75em 0;
    padding: 0;
  }
  .item-list ul li {
    margin: 0 0 0.25em 1.5em; /* LTR */
    padding: 0;
    list-style: disc;
  }
  ol.task-list li.active {
    font-weight: bold;
  }
  .form-item {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  tr.odd .form-item, tr.even .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
  }
  tr.merge-down, tr.merge-down td, tr.merge-down th {
    border-bottom-width: 0 !important;
  }
  tr.merge-up, tr.merge-up td, tr.merge-up th {
    border-top-width: 0 !important;
  }
  .form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 2px solid red;
  }
  .form-item .description {
    font-size: 0.85em;
  }
  .form-item label {
    display: block;
    font-weight: bold;
  }
  .form-item label.option {
    display: inline;
    font-weight: normal;
  }
  .form-checkboxes, .form-radios {
    margin: 1em 0;
  }
  .form-checkboxes .form-item, .form-radios .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }
  .marker, .form-required {
    color: #f00;
  }
  .more-link {
    text-align: right; /* LTR */
  }
  .more-help-link {
    font-size: 0.85em;
    text-align: right; /* LTR */
  }
  .nowrap {
    white-space: nowrap;
  }
  .item-list .pager {
    clear: both;
    text-align: center;
  }
  .item-list .pager li {
    background-image:none;
    display:inline;
    list-style-type:none;
    padding: 0.5em;
  }
  .pager-current {
    font-weight:bold;
  }
  .tips {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9em;
  }
  dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
    font-family: inherit;
    font-size: inherit;
    width: 14em;
  }
  dl.multiselect dd.a, dl.multiselect dd.a .form-item {
    width: 8em;
  }
  dl.multiselect dt, dl.multiselect dd {
    float: left; /* LTR */
    line-height: 1.75em;
    padding: 0;
    margin: 0 1em 0 0; /* LTR */
  }
  dl.multiselect .form-item {
    height: 1.75em;
    margin: 0;
  }

  /*
  ** Inline items (need to override above)
  */
  .container-inline div, .container-inline label {
    display: inline;
  }

  /*
  ** Tab navigation
  */
  ul.primary {
    border-collapse: collapse;
    padding: 0 0 0 1em; /* LTR */
    white-space: nowrap;
    list-style: none;
    margin: 5px;
    height: auto;
    line-height: normal;
    border-bottom: 1px solid #bbb;
  }
  ul.primary li {
    display: inline;
  }
  ul.primary li a {
    background-color: #ddd;
    border-color: #bbb;
    border-width: 1px;
    border-style: solid solid none solid;
    height: auto;
    margin-right: 0.5em; /* LTR */
    padding: 0 1em;
    text-decoration: none;
  }
  ul.primary li.active a {
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom: #fff 1px solid;
  }
  ul.primary li a:hover {
    background-color: #eee;
    border-color: #ccc;
    border-bottom-color: #eee;
  }
  ul.secondary {
    border-bottom: 1px solid #bbb;
    padding: 0.5em 1em;
    margin: 5px;
  }
  ul.secondary li {
    display: inline;
    padding: 0 1em;
    border-right: 1px solid #ccc; /* LTR */
  }
  ul.secondary a {
    padding: 0;
    text-decoration: none;
  }
  ul.secondary a.active {
    border-bottom: 4px solid #999;
  }

  /*
  ** Autocomplete styles
  */
  /* Suggestion list */
  #autocomplete {
    position: absolute;
    border: 1px solid;
    overflow: hidden;
    z-index: 100;
  }
  #autocomplete ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #autocomplete li {
    background: #fff;
    color: #000;
    white-space: pre;
    cursor: default;
  }
  #autocomplete li.selected {
    background: #0072b9;
    color: #fff;
  }
  /* Animated throbber */
  html.js input.form-autocomplete {
    background-image: url(../../misc/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 2px; /* LTR */
  }
  html.js input.throbbing {
    background-position: 100% -18px; /* LTR */
  }

  /*
  ** Collapsing fieldsets
  */
  html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
    height: 1em;
  }
  html.js fieldset.collapsed * {
    display: none;
  }
  html.js fieldset.collapsed legend {
    display: block;
  }
  html.js fieldset.collapsible legend a {
    padding-left: 15px; /* LTR */
    background: url(../../misc/menu-expanded.png) 5px 75% no-repeat; /* LTR */
  }
  html.js fieldset.collapsed legend a {
    background-image: url(../../misc/menu-collapsed.png); /* LTR */
    background-position: 5px 50%; /* LTR */
  }
  /* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
  * html.js fieldset.collapsed legend,
  * html.js fieldset.collapsed legend *,
  * html.js fieldset.collapsed table * {
    display: inline;
  }
  /* For Safari 2 to prevent collapsible fieldsets containing tables from dissapearing due to tableheader.js. */
  html.js fieldset.collapsible {
    position: relative;
  }
  html.js fieldset.collapsible legend a {
    display: block;
  }
  /* Avoid jumping around due to margins collapsing into collapsible fieldset border */
  html.js fieldset.collapsible .fieldset-wrapper {
    overflow: auto;
  }

  /*
  ** Resizable text areas
  */
  .resizable-textarea {
    width: 95%;
  }
  .resizable-textarea .grippie {
    height: 9px;
    overflow: hidden;
    background: #eee url(../../misc/grippie.png) no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
  }
  html.js .resizable-textarea textarea {
    margin-bottom: 0;
    width: 100%;
    display: block;
  }

  /*
  ** Table drag and drop.
  */
  .draggable a.tabledrag-handle {
    cursor: move;
    float: left; /* LTR */
    height: 1.7em;
    margin: -0.4em 0 -0.4em -0.5em; /* LTR */
    padding: 0.42em 1.5em 0.42em 0.5em; /* LTR */
    text-decoration: none;
  }
  a.tabledrag-handle:hover {
    text-decoration: none;
  }
  a.tabledrag-handle .handle {
    margin-top: 4px;
    height: 13px;
    width: 13px;
    background: url(../../misc/draggable.png) no-repeat 0 0;
  }
  a.tabledrag-handle-hover .handle {
    background-position: 0 -20px;
  }

  /*
  ** Teaser splitter
  */
  .joined + .grippie {
    height: 5px;
    background-position: center 1px;
    margin-bottom: -2px;
  }
  /* Keeps inner content contained in Opera 9. */
  .teaser-checkbox {
    padding-top: 1px;
  }
  div.teaser-button-wrapper {
    float: right; /* LTR */
    padding-right: 5%; /* LTR */
    margin: 0;
  }
  .teaser-checkbox div.form-item {
    float: right; /* LTR */
    margin: 0 5% 0 0; /* LTR */
    padding: 0;
  }
  textarea.teaser {
    display: none;
  }
  html.js .no-js {
    display: none;
  }

  /*
  ** Progressbar styles
  */
  .progress {
    font-weight: bold;
  }
  .progress .bar {
    background: #fff url(../../misc/progress.gif);
    border: 1px solid #00375a;
    height: 1.5em;
    margin: 0 0.2em;
  }
  .progress .filled {
    background: #0072b9;
    height: 1em;
    border-bottom: 0.5em solid #004a73;
    width: 0%;
  }
  .progress .percentage {
    float: right; /* LTR */
  }
  .progress-disabled {
    float: left; /* LTR */
  }
  .ahah-progress {
    float: left; /* LTR */
  }
  .ahah-progress .throbber {
    width: 15px;
    height: 15px;
    margin: 2px;
    background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px;
    float: left; /* LTR */
  }
  tr .ahah-progress .throbber {
    margin: 0 2px;
  }
  .ahah-progress-bar {
    width: 16em;
  }

  /*
  ** Formatting for welcome page
  */
  #first-time strong {
    display: block;
    padding: 1.5em 0 .5em;
  }

  /*
  ** To be used with tableselect.js
  */
  tr.selected td {
    background: #ffc;
  }

  /*
  ** Floating header for tableheader.js
  */
  table.sticky-header {
    margin-top: 0;
    background: #fff;
  }

  /*
  ** Installation clean URLs
  */
  #clean-url.install {
    display: none;
  }

  /*
  ** For anything you want to hide on page load when JS is enabled, so
  ** that you can use the JS to control visibility and avoid flicker.
  */
  html.js .js-hide {
    display: none;
  }

  /*
  ** Styles for the system modules page (admin/build/modules)
  */
  #system-modules div.incompatible {
    font-weight: bold;
  }

  /*
  ** Styles for the system themes page (admin/build/themes)
  */
  #system-themes-form div.incompatible {
    font-weight: bold;
  }

  /*
  ** Password strength indicator
  */
  span.password-strength {
    visibility: hidden;
  }
  input.password-field {
    margin-right: 10px; /* LTR */
  }
  div.password-description {
    padding: 0 2px;
    margin: 4px 0 0 0;
    font-size: 0.85em;
    max-width: 500px;
  }
  div.password-description ul {
    margin-bottom: 0;
  }
  .password-parent {
    margin: 0 0 0 0;
  }
  /*
  ** Password confirmation checker
  */
  input.password-confirm {
    margin-right: 10px; /* LTR */
  }
  .confirm-parent {
    margin: 5px 0 0 0;
  }
  span.password-confirm {
    visibility: hidden;
  }
  span.password-confirm span {
    font-weight: normal;
  }

/* modules/taxonomy/taxonomy.css */

  tr.taxonomy-term-preview {
    background-color: #EEE;
  }
  tr.taxonomy-term-divider-top {
    border-bottom: none;
  }
  tr.taxonomy-term-divider-bottom {
    border-top: 1px dotted #CCC;
  }
  .taxonomy-term-description {
    margin: 5px 0 20px;
  }

/* modules/tracker/tracker.css */

  #tracker td.replies {
    text-align: center;
  }
  #tracker table {
    width: 100%;
  }

/* modules/update/update-rtl.css */

  .update .project {
    padding-right: .25em;
  }

  .update .version-status {
    float: left;
    padding-left: 10px;
  }

  .update .version-status .icon {
    padding-right: .5em;
  }

  .update table.version .version-title {
    padding-left: 1em;
  }

  .update table.version .version-details {
    padding-left: .5em;
    direction: ltr;
  }

  .update table.version .version-links {
    text-align: left;
    padding-left: 1em;
  }

  .update .check-manually {
    padding-right: 1em;
  }

/* modules/update/update.css */

  .update .project {
    font-weight: bold;
    font-size: 110%;
    padding-left: .25em; /* LTR */
    height: 22px;
  }

  .update .version-status {
    float: right; /* LTR */
    padding-right: 10px; /* LTR */
    font-size: 110%;
    height: 20px;
  }

  .update .version-status .icon {
    padding-left: .5em; /* LTR */
  }

  .update .version-date {
    white-space: nowrap;
  }

  .update .info {
    margin: 0;
    padding: 1em 1em .25em 1em;
  }

  .update tr td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .update tr.error {
    background: #fcc;
  }

  .update tr.error .version-recommended {
    background: #fdd;
  }

  .update tr.ok {
    background: #dfd;
  }

  .update tr.warning {
    background: #ffd;
  }

  .update tr.warning .version-recommended {
    background: #ffe;
  }

  .current-version, .new-version {
    direction: ltr; /* Note: version numbers should always be LTR. */
  }

  table.update,
  .update table.version {
    width: 100%;
    margin-top: .5em;
  }

  .update table.version tbody {
    border: none;
  }

  .update table.version tr,
  .update table.version td {
    line-height: .9em;
    padding: 0;
    margin: 0;
    border: none;
  }

  .update table.version .version-title {
    padding-left: 1em; /* LTR */
    width: 14em;
  }

  .update table.version .version-details {
    padding-right: .5em; /* LTR */
  }

  .update table.version .version-links {
    text-align: right; /* LTR */
    padding-right: 1em; /* LTR */
  }

  .update table.version-security .version-title {
    color: #970F00;
  }

  .update table.version-recommended-strong .version-title {
    font-weight: bold;
  }

  .update .security-error {
    font-weight: bold;
    color: #970F00;
  }

  .update .check-manually {
    padding-left: 1em; /* LTR */
  }

/* modules/user/user-rtl.css Exp $ */

  #permissions td.permission {
    padding-left: 0;
    padding-right: 1.5em;
  }
  #access-rules .access-type, #access-rules .rule-type {
    margin-right: 0;
    margin-left: 1em;
    float: right;
  }
  #user-admin-buttons {
    float: right;
    margin-left: 0;
    margin-right: 0.5em;
    clear: left;
  }

  .profile .picture {
    float: left;
    margin: 0 0 1em 1em;
  }

/* modules/user/user.css $ */

  #permissions td.module {
    font-weight: bold;
  }
  #permissions td.permission {
    padding-left: 1.5em; /* LTR */
  }
  #access-rules .access-type, #access-rules .rule-type {
    margin-right: 1em; /* LTR */
    float: left; /* LTR */
  }
  #access-rules .access-type .form-item, #access-rules .rule-type .form-item {
    margin-top: 0;
  }
  #access-rules .mask {
    clear: both;
  }
  #user-login-form {
    text-align: center;
  }
  #user-admin-filter ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #user-admin-buttons {
    float: left; /* LTR */
    margin-left: 0.5em; /* LTR */
    clear: right; /* LTR */
  }
  #user-admin-settings fieldset .description {
    font-size: 0.85em;
    padding-bottom: .5em;
  }

  /* Generated by user.module but used by profile.module: */
  .profile {
    clear: both;
    margin: 1em 0;
  }
  .profile .picture {
    float: right; /* LTR */
    margin: 0 1em 1em 0; /* LTR */
  }
  .profile h3 {
    border-bottom: 1px solid #ccc;
  }
  .profile dl {
    margin: 0 0 1.5em 0;
  }
  .profile dt {
    margin: 0 0 0.2em 0;
    font-weight: bold;
  }
  .profile dd {
    margin: 0 0 1em 0;
  }
  