
/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal5-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal5-reference.css file
 *   Forum            See line 197 of Zen's drupal5-reference.css file
 *   Menus            See line 667 of Zen's drupal5-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal5-reference.css file
 *   Polls            See line 287 of Zen's drupal5-reference.css file
 *   Search           See line 320 of Zen's drupal5-reference.css file
 *   User Profiles    See line 945 of Zen's drupal5-reference.css file
 */


/** Color Palette
* 
* #e7e8e9	-	lightest grey (inner buttons)
* #7e8083	-	medium grey (background)
* #58585a	-	dark grey (outer buttons)
*
* 
* #122222	-	really dark green behind videos
* 
*  SECTION COLORS
* #98160b	front/none	Red
* #008c99	sect. 151	Watch/Vote Teal
* #bcb160	sect. 144	Classes Bronze
* #61185a	sect. 220	Equipment/Studios Burgundy
* #e7a023	sect. 147	Get Involved Orange
* 
**/

/** body **/
body { 
  margin: 0; 
  padding: 0; 
  background: #edf5fa; 
  font: 12px/170% Verdana, sans-serif; 
  color: #000000; 
        }   

        /*
  body
  {
    background-color: #ffffff:
    color: #000000;
  }
    */

  #page
  {
  }

  #page-inner
  {
  }

  #fill
  {
    background: transparent url(img/bg.png) scroll repeat-y top center;
  }


/***************************************************************************

ERASE THE NEXT LINES AND THE IMAGE ONCE THE LAYOUT IS DONE

***************************************************************************/
ERASE body.node-type-om-project  #fill {
  background: transparent url(img/bg-project-erase.png) scroll repeat-y top center;
}

ERASE body.node-type-om-project  #fill {
  background: transparent url(img/bg-project_profile-erase.png) scroll repeat-y top center;
}



  #top
  {
    background: transparent url(img/bg.png) scroll no-repeat top left;
  }
  #bottom
  {
    background: transparent url(img/bg.png) scroll no-repeat bottom right;
    margin-left: 33px;
  }


/** header **/
  #header
  {
    margin-bottom: 25px;
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
  }

  #logo /* Wrapper for logo */
  {
  }

  #logo-image /* The actual logo image */
  {
    margin-left: 550px;
  }

  #site-name /* The name of the website */
  {
    text-indent: -999em;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
    width: 180px;
    float: right;
  }

/** main (container for everything else) **/
  #main
  {
  }

/** content **/
  #content
  {
  }

  #content-inner
  {
    padding: 0 15px 0 8px;
  }
body.front #content-inner {
  padding-left: 18px;
}
body.node-type-livestream #content-inner {
  padding: 0 59px 0 51px;
}
body.sidebar-right #content-inner,
body.no-sidebars #content-inner {
  padding: 0 11px 35px 15px;
}

/** this was changed from the above for some reason, but i can't figure out why now.
I am commenting it out because it's breaking the carousel.

body.node-type-om-project #content-inner,
body.page-user #content-inner {
  padding: 0 15px 0 18px;
}
**/

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
    margin: 0 1em 5px 1em;
    border: 2px solid #cccccc;
    padding: 5px;
    color: #000000:
    background-color: #ffffff;
    font-style: italic;
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.warning,
  tr.warning,
  body.section-admin tr.warning
  {
    /* color: #220; */ /* Drupal core uses #220 */
    background-color: #ffffdd;
  }

  div.error /* High priority messages. See also the .error declaration below. */
  {
    /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
  }

  div.error,
  tr.error,
  body.section-admin tr.error
  {
    /* color: #200; */ /* Drupal core uses #200 */
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }
#content-bottom .block {
  margin-bottom: 0;
}

/** navbar **/
  #navbar
  {
  }

  #navbar-inner
  {
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
    height: 68px;
  }

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
  #sidebar-left
  {
  }

  #sidebar-left-inner
  {
    margin: 0 9px 0 18px;
  }
  #sidebar-left .block
  {
    margin: 10px 0;
  }
  #sidebar-left-inner .block h2
  {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  padding:7px 10px;
  }
  #sidebar-left-inner .block ul.menu
  {
    margin: 0;
    padding: 0;
  }
#block-views-schedule-block_3 #sidebar-left .views-field-title,
#block-views-schedule-block_3 .views-field-title a {
  padding-top: 0;
}

/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner {
    background-color: #bdbec0;
    padding-bottom: 1px;
  }

#sidebar-right-inner .block {
  margin: 6px;
  background-color: #ffffff;
}
body.not-logged-in #sidebar-right-inner .block-user,
#sidebar-right-inner #user-name-block {
  margin: 0;
  background-color: #bdbec0;
}
body.not-logged-in #sidebar-right-inner .block-user .content {
  margin: 6px;
}

#sidebar-right-inner #search-box,
#sidebar-right-inner #block-search-0
{
  margin: 0;
  padding-bottom: 1em;
  background-color: #7e8083;
}

#sidebar-right-inner .block h2.title {
  background-color: #939598;
  color: #000000:
  font-size: 16px;
  padding: 6px;
  font-weight: normal;
  line-height: 20px;
}
body.not-logged-in #sidebar-right-inner h2.title,
#sidebar-right-inner h2#user-name {
  background-color: #98160b;
  color: #ffffff;
}



/** footer **/
  #footer
  {
    color: #ffffff;
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
    font-size: .85em;
    text-align: center;
    margin: 1em 0;
    color: #cccccc;
  }
#footer-message a {
  color: #cccccc;
}

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #cc0000;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .taxonomy /* Node taxonomy (categories) */
  {
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node div.links /* Wrapper for node links */
  {
    margin: 1em 0;
  }

  ul.links /* Taxonomy links, node links, comment links */
  {
    margin: 0;
    padding: 0;
  }

  ul.links.inline
  {
    display: inline;
  }

/** Primary Menu **/

#primary ul.links li {
  display: block;
  float: left;
  list-style-type: none;
  height: 68px;
  padding: 0 0 0 4px;
}
#primary ul.links li a {
  color: #ffffff;
  display: block;
  font-weight: bold;
  height: 25px;
  text-align: center;
}
#primary ul.links li a.active,
#primary ul.links li a:hover {
  height: 68px;
}

#primary ul.links li { width: 109px; }
#primary ul.links li a {
  background: transparent url(img/primary-generic-normal.png) scroll no-repeat left bottom;
  overflow: hidden;
  width: 109px;
}
#primary ul.links li a.active:hover,
#primary ul.links li a.active {
  background: transparent url(img/primary-generic-normal.png) scroll no-repeat left top;
}
#primary ul.links li a:hover {
  background: transparent url(img/primary-generic-hover.gif) scroll no-repeat left top;
}

/** Lower Links Menu **/
#lower-links .block ul.menu {
  padding: 0 0 1em 5px;
  font-size: .9em;
}
#lower-links ul.menu li {
  display: block;
  float: left;
  list-style-type: none;
  line-height: 20px;
  padding-right: 15px;
  margin-right: 15px;
  background: transparent url(img/pipe.png) scroll no-repeat right center;
}
#lower-links ul.menu li.last {
  background: none;
}

#lower-links ul.menu li a {
  color: #ffffff;
  text-decoration: none;
}
#lower-links ul.menu li a:hover {
  color: #0000ff;
}

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for all comments */
  {
    background-color: #bdbec0;
    margin: 1em 0;
    padding: 10px;
  }
#comments .comment {
  background-color: #ffffff;
  padding: 10px;
  }

/** all these are body classes for the livestream page **/
/** I don't know which would be best for  **/
/**
.node-type-livestream
.page-livestream
.section-livestream
.menu-section-151
**/
  .comment /* Wrapper for a single comment */
  {
    margin-bottom: 10px;
  }
.node-type-livestream .comment {
  background: transparent url(img/block-item-comment.png) scroll no-repeat left top;
  background-color: #e7e8e9;
  width: 430px;
}
.node-type-project-blog .comment {
  background: transparent url(img/block-item-comment-fullwidth.png) scroll no-repeat left top;
  background-color: #e7e8e9;
  padding: 5px;
}
  .comment-inner /* Additional wrapper for a single comment */
  {
    background: transparent url(img/block-item-comment.png) scroll no-repeat right bottom;
    padding: 5px;
  }

#comments h2,
#comments .form-item a,
#comments legend a,
#comments label {
  color: #ffffff;
}
#comments-title {
  margin-top: .167em;
}

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #cc0000;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Custom Comments View and Shoutbox for Quick Tabs **/

#content #block-quicktabs-1 .content {
  padding: 0;
}

#block-shoutbox-0,
.view-comment-view {
  background-color: #008c99;
  margin: 1em 0;
  padding: 10px;
}

.view-comment-view .views-row-even,
.view-comment-view .views-row-odd {
    width: 430px;
    background: transparent url(img/block-item-comment.png) scroll no-repeat left top;
    background-color: #e7e8e9;
    margin-bottom: 10px;
  }
.view-comment-view .views-row-even div,
.view-comment-view .views-row-odd div {
  padding: 4px;
}

.view-comment-view .views-field-comment {
    background: transparent url(img/block-item-comment.png) scroll no-repeat right bottom;
    padding: 5px;
  }

h2.comments-title {
  color: #ffffff;
}

/** Shoutbox Live Chat for Quick Tabs **/

#shoutbox-body {
  border: none;
  padding: 0;
}
#shoutbox-body div.shoutbox-msg {
  background: transparent url(img/block-item-shoutcast.png) scroll no-repeat left top;
  background-color: #e7e8e9;
  font-size: 1.3em;
  margin-bottom: 10px;
  height: 40px;
  overflow: hidden;
  padding: 4px;
  width: 422px;
}
#shoutbox-body div.shoutbox-msg b {
  padding-left: 5px;
}
#shoutbox-body div.shoutbox-msg img {
  padding-top: 5px;
}
.shoutbox-add-form {
  margin-left: 40px;
}
#shoutbox-posts .shoutbox-msg {
}
.shouter {
  float: left;
  font-weight: bold;
  height: 40px;
  padding: 0 8px 6px 8px;
}
.shouted {
  margin-left: 6px;
}
.shouted p {
  margin: 0;
}
.shoutbox-add-form {
  background: transparent url(img/shoutbox-chat.png) scroll no-repeat left top;
  margin-right: 25px;
  padding-right: 25px;
}
.shoutbox-add-form input.form-text {
  margin-bottom: 4px;
  margin-left: 35px;
  width: 380px;
}


/** Tabs for Quick Tabs **/

ul.quicktabs_tabs {
  margin: 0;
  padding: 0 0 13px 0;
}
#block-quicktabs-2 ul.quicktabs_tabs {
  padding: 0 0 27px 0;
}


ul.quicktabs_tabs li {
  float: left;
  background: url(img/off-left.png) no-repeat left top;
  margin: 0 4px 0 0;
  padding: 0 0 0 6px;
  }
ul.quicktabs_tabs a {
  float: left;
  display: block;
  background: url(img/off.png) no-repeat right top;
  padding: 5px 15px 4px 6px;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
ul.quicktabs_tabs a {float: none;}
/* End IE5-Mac hack */
ul.quicktabs_tabs a:hover {
  color: #333333;
  }
ul.quicktabs_tabs li.active {
  background-image: url(img/on-left.png);
  }
ul.quicktabs_tabs li.active a {
  background-image: url(img/on.png);
  color: #ffffff;
  padding-bottom: 5px;
  }
#block-quicktabs-2 ul.quicktabs_tabs li.active {
  background-image: url(img/on-left-front.png);
  }
#block-quicktabs-2 ul.quicktabs_tabs li.active a {
  background-image: url(img/on-front.png);
  }


/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }
#sidebar-right .block {
  margin-bottom: 0;
}

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
  }

  .block .content /* Block's content wrapper */
  {
  }
#content .block .content {
  margin: 0;
  padding: 4px 7px;
}
#content #content-top .block .content,
#content #block-block-5 .content {
  padding: 0;
}


  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comments-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-2 /* "Primary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  #search-box /* "Search form" in template */
  {
    margin-top: -75px;
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
    color: gray;
  }
#user-login-form label {
  font-weight: normal;
}

#user-login-form .item-list + .item-list ul {
  padding-left: 0;
}
#user-login-form .item-list + .item-list ul li {
  margin-top: 5px;
}

#user-login-form li.openid-link,
#user-login li.openid-link {
  background: transparent url(img/login-bg.png) no-repeat scroll 1px 0.35em;
}
#user-login-form li.openid-link a,
#user-login li.openid-link a {
  background-image: none;
  padding: 0;
}



  tr.even, tr.odd /* Some tables have rows marked even or odd. See also the ".section-admin tr.even" declaration below. */
  {
    border-bottom: none;
    padding: 0;
  }

  tr.even
  {
    /* background-color: #eeeeee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  {
    /* background-color: #eeeeee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000000:
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #cc0000;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #cc0000;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link, /* The "Log in using OpenID" links. */
  #user-login li.openid-link
  {
    margin-top: 1em;
    margin-left: -28px; /* Un-do some of the padding on the ul list. */
  	padding-left: 20px;
  	background-position: left center;
  }

  #user-login-form li.user-link, /* The "Cancel OpenID login" links. */
  #user-login li.user-link
  {
    margin-top: 1em;
  	list-style-type: disc;
  	list-style-position: outside;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * admin section of the site.
   */
  .section-admin tbody
  {
    border-top: 1px solid #cccccc;
  }

  .section-admin th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #cccccc;
  }

  .section-admin tbody th
  {
    border-bottom: 1px solid #cccccc;
  }

  .section-admin thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #cccccc;
  }

  .section-admin tr.even,
  .section-admin tr.odd
  {
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc;
    padding: 0.1em 0.6em;
  }





/** rounded edge colored blocks **/

#content-blocks {
  margin-top: 9px;
}

body.page-classes #content-blocks {
  margin-top: 0;
}


#content-blocks .content-block .view-content {
  margin-bottom: 9px;
  margin-top: 9px;
}

#content-blocks .item-list ul {
  padding-left: 0;
}
#content-blocks .item-list ul li {
  list-style-type: none;
}

body.node-type-om-project .node h2.title,
body.page-user .node h2.title,
#content-sidebar-container h2.title,
#content-blocks .content-block h2.title {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  padding-left: 9px;
}

#content-blocks .content-block .bubble-top,
#content-blocks .content-block .views-row-even,
#content-blocks .content-block .views-row-odd {
  width: 244px;
  overflow: hidden;
  margin: 8px 0;
  background: transparent url(img/block-item-244.png) scroll no-repeat left top;
  background-color: #e7e8e9;
}
#content-blocks .content-block .bubble-bottom {
  padding: 5px;
  background: transparent url(img/block-item-244.png) scroll no-repeat right bottom;
}



/* rounded corner boxes within an outline box */
#content-blocks .content-block .bubble-outline .bubble-top {
  width: 232px;
  background: transparent url(img/block-item-232.png) scroll no-repeat left top;
  background-color: #e7e8e9;
}
#content-blocks .content-block .bubble-outline .bubble-top-last {
  margin-bottom: 0;
  padding-bottom: 0;
}
#content-blocks .content-block .bubble-outline .bubble-bottom {
  background: transparent url(img/block-item-232.png) scroll no-repeat right bottom;
}
a p {
  font-size: 13px;
  font-weight: normal;
}


/* rounded corner outline box */
#content-blocks .content-block .bubble-outline {
  margin-top: 8px;
  overflow: hidden;
  width: 244px;
}
#content-blocks .content-block .bubble-outline-top {
  background: transparent url(img/block-item-244-outline.png) scroll no-repeat left top;
  height: 5px;
  width: 244px;
}
#content-blocks .content-block .bubble-outline-content {
  border: #b4b4b4 1px solid;
  border-top: none;
  border-bottom: none;
  padding: 0 5px 8px 5px;
}
#content-blocks .content-block .bubble-outline-bottom {
  background: transparent url(img/block-item-244-outline.png) scroll no-repeat right bottom;
  height: 5px;
  width: 244px;
}

#content-blocks .content-block .view-header p {
  background: transparent url(img/block-item-244.png) scroll no-repeat right bottom;
  font-weight: bold;
  margin: 0;
  padding: 15px 9px;
}

#sidebar-left .views-row-even,
#sidebar-left .views-row-odd {
  width: 157px;
  margin-left: 7px;
  margin-top: 7px;
  overflow: hidden;
  background: transparent url(img/block-item-157.png) scroll no-repeat left top;
  background-color: #e7e8e9;
}
#sidebar-left .views-field-title {
  margin: 0;
  padding: 5px 9px;
  background: transparent url(img/block-item-157.png) scroll no-repeat right bottom;
}

body.front #content-blocks .content-block .views-row-even,
body.front #content-blocks .content-block .views-row-odd {
  width: 339px;
  background: transparent url(img/block-item-339.png) scroll no-repeat left top;
  background-color: #e7e8e9;
}

body.node-type-om-project #sidebar-left .views-row-even,
body.node-type-om-project #sidebar-left .views-row-odd {
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  overflow: hidden;
  background: none;
}


#content-blocks .content-block .bubble-top:hover,
body.not-front #content-blocks .content-block .views-row-even:hover,
body.not-front #content-blocks .content-block .views-row-odd:hover,
body.front #content-blocks .content-block .views-row-even:hover,
body.front #content-blocks .content-block .views-row-odd:hover {
  background-color: #a6a6a6;
}
#content-blocks .content-block .field-content {
  display: block;
  background: transparent url(img/block-item-244.png) scroll no-repeat right bottom;
}


.page-classes #content-blocks .content-block .field-content {
  background: none;
}
.page-classes #content-blocks .content-block .view-class-descriptions .views-field-title,
.page-classes #content-blocks .content-block .view-upcoming-classes .views-field-field-date-value {
  background: transparent url(img/block-item-244.png) scroll no-repeat right bottom;
}

body.front #content-blocks #content-right .views-field-field-headline-for-news-block-value {
  background: transparent url(img/block-item-339.png) scroll no-repeat right bottom;
  width: 339px;
}
body.front #content-blocks #content-left .views-field-field-date-value {
  padding: 0 5px;
}
body.front #content-blocks #content-left .views-field-view-node {
  background: transparent url(img/block-item-339.png) scroll no-repeat right bottom;
}
body.front #content-blocks #content-left .views-field-teaser p {
  margin: 0;
}
body.front #content-blocks .content-block .field-content {
  background: none;
}
body.front #content-blocks #content-right .views-field-created {
  font-size: .9em;
  padding: 4px 0 0 4px;
}
body.front #content-blocks #content-right .views-field-created * {
  margin: 0 4px;
}
body.front #content-blocks #content-right .views-label-created {
  float: left;
}

#content-blocks .content-block .bubble-top a,
#content-blocks .content-block .views-field-field-headline-for-news-block-value .field-content a,
#content-blocks .content-block .views-field-field-class-title-value .field-content a,
#content-blocks .content-block .views-field-title .field-content a {
  display: block;
  color: #000000:
  font-size: 14px;
  font-weight: bold;
}
.views-field-field-date-value a {
  color: #000000:
}


#content-blocks .content-block .bubble-top a,
#content-blocks .content-block .field-content {
  padding: 5px 9px;
}
#content-blocks .content-block .view-class-descriptions .field-content a {
  padding: 5px;
}

/* full block links with a and p content */
#content-blocks .content-block .bubble-top a.block-link {
  padding: 0;
}
#content-blocks .content-block .bubble-outline-content h3,
#content-blocks .content-block .bubble-top a.block-link h3 {
  margin-top: 0;
  margin-bottom: 0;
}
#content-blocks .content-block .bubble-outline-content p,
#content-blocks .content-block .bubble-top a.block-link p {
  margin-top: 0;
  margin-bottom: 0;
}



#content-blocks .content-block .views-field-teaser .field-content p,
#content-blocks .content-block .views-field-view-node .field-content a {
  padding: 0 9px;
}


#content-blocks h2.title {
  background: transparent url(img/h2-title-corners-260.png) scroll no-repeat center top;
}
body.front #content-blocks h2.title {
  background: transparent url(img/h2-title-front-corners.png) scroll no-repeat center top;
  background-color: #98160b;
}
body.node-type-om-project #sidebar-left h2.title {
  background: transparent url(img/h2-title-corners-260.png) scroll no-repeat center top;
  background-color: #7e8083;
}


/* Color-coded content that changes per section */
/*
*  SECTION COLORS
* #98160b	front/none	Red
* #dbaeaa	front/none	Red at 35%
*
* #008c99	sect. 151	Watch/Vote Teal
* #a6d7db	sect. 151	Watch/Vote Teal 35%
*
* #bcb160	sect. 144	Classes Bronze
* #e1dcb7	sect. 144	Classes Bronze 45%
*
* #61185a	sect. 220	Equipment/Studios Burgundy
* #c8aec5	sect. 220	Equipment/Studios Burgundy 35%
*
* #e7a023	sect. 147	Get Involved Orange
* #f7deb2	sect. 147	Get Involved Orange 35%
*/

body #content-blocks h2.title {
  background-color: #98160b;
}
body #content-blocks .content {
  border: #98160b 1px solid;
}
body #sidebar-left h2.title {
  background: transparent url(img/h2-title-corners-173.png) scroll no-repeat left top;
  background-color: #98160b;
}

body.menu-section-151 #sidebar-left h2.title {
  background: transparent url(img/h2-title-corners-173.png) scroll no-repeat left top;
  background-color: #008c99;
}
body.menu-section-151 #content-blocks h2.title {
  background: transparent url(img/h2-title-corners-260.png) scroll no-repeat left top;
  background-color: #008c99;
}

body.menu-section-151 #main #content #content-inner #content-area,
body.menu-section-151 #sidebar-left .block-inner .content,
body.menu-section-151 #content-blocks .content {
  border: #008c99 1px solid;
}
body.menu-section-151 #sidebar-left .block-inner .content {
  padding-bottom: 10px;
}

/** The next styles are exceptions for the secondary menu (the first block in the left column) **/
body #block-menu_block_split-1000 .block-inner h2.title {
  background-color: #98160b;
}
body.menu-section-151 #sidebar-left #block-menu_block_split-1000 .block-inner .content {
  border: none;
}
#sidebar-left #block-menu_block_split-1000 {
  background: transparent url(img/leftcol.png) scroll no-repeat left top;
  background-color: #3b3b3b;
  margin-top: 0;
}
#block-menu_block_split-1000 .block-inner {
  background: transparent url(img/leftcol.png) scroll no-repeat -173px bottom;
  padding-bottom: 10px;
}
#block-menu_block_split-1000 .block h2 {
  color: #ffffff;
}

/*
body.page-getinvolved #content-header,
body.page-getinvolved #content-area,
body.page-classes #content-header,
body.page-classes #content-area {
  display: none;
}
*/
body.page-getinvolved #content-header,
body.page-classes #content-header {
  display: none;
}

.node-type-class #content-blocks h2.title,
.node-type-class-description #content-blocks h2.title,
body.menu-section-144 #content-blocks h2.title {
  background-color: #bcb160;
}

body.menu-section-144 #main #content #content-inner #content-area,
.node-type-class #main #content #content-inner #content-area,
.node-type-class-description #main #content #content-inner #content-area,
.node-type-class #content-blocks .content,
.node-type-class-description #content-blocks .content,
body.menu-section-144 #content-blocks .content {
  border: #bcb160 1px solid;
}

body.menu-section-220 #content-blocks h2.title {
  background-color: #61185a;
}
body.menu-section-220 #main #content #content-inner #content-area,
body.menu-section-220 #content-blocks .content {
  border: #61185a 1px solid;
}

body.menu-section-147 #content-blocks h2.title {
  background-color: #e7a023;
}
body.menu-section-147 #main #content #content-inner #content-area,
body.menu-section-147 #content-blocks .content {
  border: #e7a023 1px solid;
}


/* this is the sub-header header within the column view */
#content-blocks .content-block .view-header {
  width: 244px;
  margin-top: 10px;
  overflow: hidden;
  background: transparent url(img/block-item-244.png) scroll no-repeat left top;
  background-color: #a6d7db;
}

#content-blocks .content-block .view-header {
  background-color: #a6d7db;
}
body.front #content-blocks .content-block .view-header {
  background-color: #dbaeaa;
}
body.menu-section-151 #content-blocks .content-block .view-header {
  background-color: #a6d7db;
}
body.menu-section-144 #content-blocks .content-block .view-header {
  background-color: #e1dcb7;
}
body.menu-section-220 #content-blocks .content-block .view-header {
  background-color: #c8aec5;
}
body.menu-section-147 #content-blocks .content-block .view-header {
  background-color: #f7deb2;
}

body.menu-section-151 #main-inner {
  background: transparent url(img/bg-image-151.png) scroll no-repeat left bottom;
}
.node-type-class #main-inner,
.node-type-class-description #main-inner,
body.menu-section-144 #main-inner {
  background: transparent url(img/bg-image-144.png) scroll no-repeat left bottom;
}
body.menu-section-220 #main-inner {
  background: transparent url(img/bg-image-220.png) scroll no-repeat left bottom;
}
body.menu-section-147 #main-inner {
  background: transparent url(img/bg-image-147.png) scroll no-repeat left bottom;
}


/** Full Node and Page Views colored bars and borders **/

#main #content #content-inner #content-area {
  border: #98160b 1px solid;
  padding: 0 9px;
}

body.front #content-area {
  display: none;
}

#main #content #content-inner #content-header h1,
#main #content #content-inner #content-header h2,
#main #content #content-inner #content-header h3 {
  padding: 0 9px;
  color: #ffffff;
  font-weight: normal;
}

#main #content #content-inner #content-header {
  /*
  background: transparent url(img/header-page-nosidebar.png) scroll no-repeat left top;
  */
  background-color: #98160b;
  padding: 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


body.two-sidebars #main #content #content-inner #content-header {
  /*
  background: transparent url(img/header-page-sidebar.png) scroll no-repeat left top;
  */
  background-color: #98160b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

body.node-type-om-project #main #content #content-inner #content-header,
body.page-user #main #content #content-inner #content-header {
  /*
  background: transparent url(img/header-project-nosidebar.png) scroll no-repeat left top;
  */
  background-color: #7e8083;
  background: none;
  padding-top: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
body.node-type-om-project #main #content #content-inner #content-header {
  background-color: #bdbec0;
}
body.node-type-om-project #main #content #content-inner #content-header h1,
body.page-user #main #content #content-inner #content-header h1 {
  background-color: #98160b;
  padding-top: 4px;
}

body.node-type-class #main #content #content-inner #content-header,
body.node-type-class-description #main #content #content-inner #content-header,
body.menu-section-144 #main #content #content-inner #content-header {
  /*
  background: transparent url(img/header-page-sidebar.png) scroll no-repeat left top;
  */
  background-color: #bcb160;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
body.menu-section-220 #main #content #content-inner #content-header {
  /*
  background: transparent url(img/header-page-sidebar.png) scroll no-repeat left top;
  */
  background-color: #61185a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
body.menu-section-147 #main #content #content-inner #content-header {
  /*
  background: transparent url(img/header-page-sidebar.png) scroll no-repeat left top;
  */
  background-color: #e7a023;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.dashed-break {
  border-top: 1px dashed #98160b;
}
body.menu-section-151 .dashed-break {
  border-top: 1px dashed #008c99;
}
body.menu-section-144 .dashed-break {
  border-top: 1px dashed #bcb160;
}
body.menu-section-220 .dashed-break {
  border-top: 1px dashed #61185a;
}
.view-member-levels .views-row-odd,
.view-member-levels .views-row-even,
body.menu-section-147 .dashed-break {
  border-top: 1px dashed #e7a023;
}
.view-member-levels .views-row-first,
html body .dashed-break.first {
  border-top: none;
}


/** This is an exception for block views that use attachments

The styles are applied in the wrong places

It is made for only one block at the moment, the only one affected.

But, as more are created, i need to generalize this **/

#block-views-schedule_57-calendar_block_1 #content-blocks .content-block .block-inner .content {
  border: none;
}

#block-views-schedule_57-calendar_block_1 #content-blocks .content-block .view-content {
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
}

/** adding padding to date in "upcoming shows" block **/
#block-views-schedule-block_2 .views-field-created {
  padding: 4px 0 0 7px;
}

/** Member levels views list **/
.view-member-levels .views-row-odd,
.view-member-levels .views-row-even {
  padding: 20px 0;
  min-height: 200px;
}

/** Auction page theming. I think this can be deleted after the auction, or whenever the auctions views are deleted **/

.view-auction2 .views-row-odd,
.view-auction2 .views-row-even {
  border-top: 1px dashed #98160b;
  padding: 20px 0;
  min-height: 200px;
}

.view-auction2 .views-row-last {
  border-bottom: 1px dashed #98160b;
}

.view-auction2 .views-field-field-product-preview-fid {
  float: right;
}

/* DON'T Delete the view member levels items */
.view-member-levels .views-field-title,
.view-auction2 .views-field-title a {
  font-size: 1.2em;
}
/* DON'T Delete the view member levels items */
.view-member-levels .views-field-title,
.view-member-levels label.views-label-field-memberbenefits-value,
.view-member-levels label.views-label-field-membercost-value,
.view-auction2 .views-field-title a,
.view-auction2 .views-label-cost,
.view-auction2 .views-label-sell-price,
.view-auction2 .views-label-list-price {
  font-weight: bold;
}


/** Front Page Thumbnail Rotator Carousel **/

body.front #content-top .content {
  padding: 0;
}

.node-type-om-project #content-top,
#block-quicktabs-2 .quicktabs_main {
  background-color: #122222;
}
#block-quicktabs-2 .quicktabs_main .view-header p {
  margin: 0;
  padding: 7px;
}
.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
  background: transparent url(img/next-prev.png) no-repeat scroll left bottom;
  height: 250px;
  left: 0;
  top: 0;
  width: 14px;
}
.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover {
  background: transparent url(img/next-prev.png) no-repeat scroll left top;
}
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
  background: transparent url(img/next-prev.png) no-repeat scroll right bottom;
  height: 250px;
  right: -4px;
  top: 0;
  width: 14px;
}
.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover {
  background: transparent url(img/next-prev.png) no-repeat scroll right top;
}
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal {
  background: none;
}

.view-front-page-thumbnail-rotator .view-header {
  color: #888888;
  font-size: 1.4em;
}

.view-front-page-thumbnail-rotator table.views-view-grid {
  margin: 0 0 5px 12px;
  width: 707px;
}
.view-front-page-thumbnail-rotator table.views-view-grid td {
  margin: 0 5px;
  width: 239px;
  vertical-align: top;
  color: #888888;
}
.view-front-page-thumbnail-rotator td .views-field-title,
.view-front-page-thumbnail-rotator td .views-field-title .field-content {
  overflow: hidden;
  width: 239px;
}
.view-front-page-thumbnail-rotator table.views-view-grid td img {
  border: 1px #888888 solid;
  margin-top: 4px;
}

.view-front-page-thumbnail-rotator .views-field-expiry {
  font-size: .9em;
}
.view-front-page-thumbnail-rotator .views-field-expiry * {
  display: inline;
}

/** Donate button **/

body.menu-section-147 #content-blocks #block-block-8 .content {
  background: transparent url(img/h2-title-corners-260.png) scroll no-repeat center top;
  background-color: #98160b;
  border: none;
  padding: 0;
  text-align: center;
}
#block-block-8 .content a {
  background: transparent url(img/h2-title-corners-260-bottom.png) scroll no-repeat center bottom;
  color: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 5px;
}
body.menu-section-147 #content-blocks #block-block-8 .content:hover {
  background-color: #e7a023;
}
body.menu-section-147 #content-blocks #block-block-8 .content a:hover {
  text-shadow: 2px 2px 2px #000000:
}


/** Calendar styles **/

/* all calendar views */

body.page-getinvolved .month-view td .inner .day-event,
body.page-getinvolved-calendar .month-view td .inner .day-event {
  border: 1px solid ;
  margin: 1px;
}
body.page-getinvolved .calendar-calendar .day-view .term-137,
body.page-getinvolved .view-calendar td .inner .term-137,
body.page-getinvolved-calendar .calendar-calendar .day-view .term-137,
body.page-getinvolved-calendar .view-calendar td .inner .term-137 {
  border-top: rgb(188,177,96) 10px solid;
}
body.page-getinvolved .calendar-calendar .day-view .term-189,
body.page-getinvolved .view-calendar td .inner .term-189,
body.page-getinvolved-calendar .calendar-calendar .day-view .term-189,
body.page-getinvolved-calendar .view-calendar td .inner .term-189,

body.page-getinvolved .calendar-calendar .day-view .term-134,
body.page-getinvolved .view-calendar td .inner .term-134,
body.page-getinvolved-calendar .calendar-calendar .day-view .term-134,
body.page-getinvolved-calendar .view-calendar td .inner .term-134 {
  border-top: rgb(231,160,35) 10px solid;
}
body.page-getinvolved .calendar-calendar .day-view .term-135,
body.page-getinvolved .view-calendar td .inner .term-135,
body.page-getinvolved-calendar .calendar-calendar .day-view .term-135,
body.page-getinvolved-calendar .view-calendar td .inner .term-135 {
  border-top: rgb(126,128,131) 10px solid;
}
body.page-getinvolved .calendar-calendar .day-view .term-136,
body.page-getinvolved .view-calendar td .inner .term-136,
body.page-getinvolved-calendar .calendar-calendar .day-view .term-136,
body.page-getinvolved-calendar .view-calendar td .inner .term-136 {
  border-top: rgb(152,22,11) 10px solid;
}
.calendar-calendar td.week,
.calendar-calendar td.sat,
.calendar-calendar td.sun {
  background-color: rgb(217,217,217);
}
.calendar-calendar td,
.calendar-calendar td span,
.calendar-calendar td a {
  font-size: .9em;
}
body.page-getinvolved .view-calendar .view-header ul,
body.page-getinvolved-calendar .view-calendar .view-header ul {
  display: block;
  line-height: 25px;
  height: 25px;
  margin: 0 0 0 210px;
}
body.page-getinvolved .view-calendar .view-header ul li,
body.page-getinvolved-calendar .view-calendar .view-header ul li {
  display: block;
  width: 80px;
  float: left;
  margin-left: 10px;
  padding-left: 20px;
  font-size: .9em;
}
body.page-getinvolved .view-calendar .view-header ul li.term-136,
body.page-getinvolved-calendar .view-calendar .view-header ul li.term-136 {
  width: 110px;
}
body.page-getinvolved .view-calendar li.term-137,
body.page-getinvolved-calendar .view-calendar li.term-137 {
  background: transparent url(img/calendar-term-137.png) scroll no-repeat left center;
}
body.page-getinvolved .view-calendar li.term-134,
body.page-getinvolved-calendar .view-calendar li.term-134 {
  background: transparent url(img/calendar-term-134.png) scroll no-repeat left center;
}
body.page-getinvolved .view-calendar li.term-135,
body.page-getinvolved-calendar .view-calendar li.term-135 {
  background: transparent url(img/calendar-term-135.png) scroll no-repeat left center;
}
body.page-getinvolved .view-calendar li.term-136,
body.page-getinvolved-calendar .view-calendar li.term-136 {
  background: transparent url(img/calendar-term-136.png) scroll no-repeat left center;
}

.week-view div.day a {
  font-size: 1.2em;
  font-weight: bold;
}
.day-view div.day a {
  background-color: transparent;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2em;
}

/* Set this last to override other styles, 'today' takes precedence over all */
.calendar-calendar td.today, 
.calendar-calendar td.today .mini-day-on {
  color: #222244;
  background-color: #cccbde;
}
.calendar-calendar td.today a, 
.calendar-calendar td.today .mini-day-on a {
  color: #222244;
  background-color: #cccbde;
}

body.node-type-event .field-field-event-date {
  font-size: 1.5em;
  padding: .5em 0;
}
body.node-type-event .meta {
  margin-bottom: 1.5em;
}


/** Profile and Project content pages **/

body.page-user h1.title {
  display: none;
}

body.node-type-om-project #main #content #content-inner #content-header {
  margin-bottom: 5px;
}

body.page-user #main #content #content-inner #content-area {
  border: none;
  padding: 0;
}

body.node-type-om-project #content #content-main h2.title,
body.page-user #content h2.title {
  background: transparent url(img/h2-title-corners-500.png) scroll no-repeat left top;
  background-color: #98160b;
  color: #ffffff;
}
body.page-user #content h2.title a {
  color: #ffffff;
}
body.page-user #content h2.title a:hover {
  color: #007e7a;
  color: #7fbebc;
}

body.node-type-om-project #content #content-main .project-blogs .views-row-even,
body.node-type-om-project #content #content-main .project-blogs .views-row-odd,
body.node-type-om-project #content #content-main .project-events .views-row-even,
body.node-type-om-project #content #content-main .project-events .views-row-odd {
  margin-bottom: 1em;
}
body.node-type-om-project #content #content-main .project-wiki .views-field-title,
body.node-type-om-project #content #content-main .project-blogs .views-field-title,
body.node-type-om-project #content #content-main .project-events .views-field-title,
body.page-user #content #content-main .view-user-blog-posts .views-field-title {
  background: transparent url(img/block-item-488.png) scroll no-repeat left top;
  padding: 7px;
}
body.node-type-om-project #content #content-main .project-wiki .views-field-title a,
body.node-type-om-project #content #content-main .project-blogs .views-field-title a,
body.node-type-om-project #content #content-main .project-events .views-field-title a,
body.page-user #content #content-main .view-user-blog-posts .views-field-title a {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}
body.node-type-om-project #content #content-main .project-wiki .views-field-teaser,
body.node-type-om-project #content #content-main .project-blogs .views-field-teaser,
body.node-type-om-project #content #content-main .project-events .views-field-teaser,
body.page-user #content #content-main .view-user-blog-posts .views-field-teaser {
  background: transparent url(img/block-item-488.png) scroll no-repeat right bottom;
  padding: 7px;
}
body.page-user #content #content-main .view-user-blog-posts .views-field-teaser p {
  margin-top: 0;
}

body.node-type-om-project p,
body.page-user #content p {
  margin: 7px 0;
}

body.node-type-om-project #content #content-main .project-events .views-field-field-date-value {
  padding: 0 7px;
}


body.node-type-om-project #content #content-sidebar h2.title,
body.page-user #content-sidebar .block h2.title {
  background: transparent url(img/h2-title-corners-210.png) scroll no-repeat left top;
  background-color: #98160b;
  color: #ffffff;
}



body.node-type-om-project #main #content #content-inner #content-area {
  border: none;
  padding: 0;
}

#block-views-show_details-block_1 .block-inner .content,
#block-block-20 .block-inner .content,
body.node-type-om-project .content-block .block-inner,
body.page-user .content-block .block-inner {
  border: 1px #98160b solid;
  padding: 5px;
}
.view-user-blog-posts .views-row-even,
.view-user-blog-posts .views-row-odd,
.view-project-views .views-row-even,
.view-project-views .views-row-odd {
  background-color: #e7e8e9;
  margin-bottom: 1em;
}
#block-views-show_details-block_1 .views-row-odd {
  background-color: transparent;
}

body.two-sidebars #main #content #content-inner #content-header,
body.node-type-om-show #sidebar-left h2.title {
  background-color: #008c99;
}
body.node-type-om-show #block-block-20 .block-inner .content,
#block-views-show_details-block_1 .block-inner .content {
  border: 1px #008c99 solid;
}

/** Show Headers are different than the rest of the site **/

body.node-type-om-show #main #content #content-inner #content-header {
  background: none;
  background-color: transparent;
}
body.node-type-om-show #main #content #content-inner #content-header h1 {
  color: #000000;
}
body.node-type-om-show #main #content #content-inner #content-area {
  border: none;
}


/** Fake sidebar within Profile and Project content pages **/
#content-sidebar {
  width: 210px;
}
#content-sidebar .block {
}
body.page-user #content-bottom,
#content-main {
  float: right;
  width: 500px;
}

body.page-user #content-sidebar .block .content {
  border: #7e8083 1px solid;
  margin: 0;
  padding: 4px 7px;
}
body.page-user #content-sidebar .user-image-block .content {
  background: transparent url(img/user-frame.png) scroll repeat-y left top;
  margin: 0;
  padding: 0;
}


#content-sidebar .user-image-block .content {
  padding: 6px;
}
#content-sidebar .user-image-block .content a,
#content-sidebar .user-image-block .content img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

body.page-user #content-bottom,
-inner {
  padding: 0;
}

p.block-note {
  color: #999999;
  margin-top: 0;
}

/** rounded corners for individual items in profile view **/
body.page-user .view-user-projects .views-row-even,
body.page-user .view-user-projects .views-row-odd {
  background: transparent url(img/block-item-545.png) scroll no-repeat left top;
  background-color: #e7e8e9;
  margin-bottom: 6px;
  padding-top: 5px;
}
body.page-user .view-user-projects .views-field-nid {
  background: transparent url(img/block-item-545.png) scroll no-repeat right bottom;
}

body.page-user .view-user-projects .views-field-title,
body.page-user .view-user-projects .views-field-description,
body.page-user .view-user-projects .views-field-nid {
  padding: 0 5px;
}
body.page-user .view-user-projects .views-field-nid {
  padding-bottom: 5px;
}


/** Groups/Projects **/

body.node-type-om-project {

}

.view-og-members-block ul {
  padding-left: 0;
}
.view-id-og_members_block .item-list ul li {
  height: 45px;
  overflow: hidden;
  text-align: left;
  text-indent: 0;
}
.view-id-og_members_block span.views-field-picture {
  float: right;
}
.view-og-members-block td.col-1 {
  padding-right: 4px;
}

body.node-type-om-project #block-og-0 h2 a {
  color: #000000;
}
body.node-type-om-project #block-og-0 h2 a:hover {
  text-decoration: underline;
}



/** User/Profile pages **/
#content-sidebar .user-image-block .block .content {
  border: none;
  padding: 0;
}


/** Skills Section of Profile **/

ul#MySkills {
  padding: 0;
}

#MySkills li.MySkill {
  border: 1px solid #7e8083;
/**
  clear: both;
  display: block;
**/
  margin-bottom: 1em;
  padding: 0;
  width: 195px;
}
#MySkills li.MySkill.clear-block {
  display: inline-block;
}

#MySkills span {
  display: block;
  float: left;
  line-height: 20px;
}

#MySkills .MySkill-name {
  float: left;
  font-weight: bold;
  padding-left: 5px;
  width: 65px;
}

#MySkills .MySkill-level {
  background-color: #cb726b;
  color: #ffffff;
  display: block;
  font-size: 0.9em;
  height: 20px;
  position: relative;
  width: 125px;
}
#MySkills.G-Skills .MySkill-level {
  background-color: #7e8083;
}

#MySkills .MySkill-level .l-name,
#MySkills .MySkill-level .l-graph {
  position: absolute;
  height: 20px;
  left: 0;
  top: 0;
}
/**
#MySkills .MySkill-level:after {
  margin-left: .5em;
}
**/

#MySkills .MySkill-level .l-name {
  color: #eecccc;
  padding-left: 6px;
  text-align: center;
  width: 100px;
}
#MySkills.G-Skills .MySkill-level .l-name {
  color: #565759;
  color: #b3b4b7;
}
#MySkills .MySkill-level .l-graph {
  background-color: #98160b; /* Standard Site Red */
  background-color: #660000; /* a darker red for the graph? */
  display: block;
}
#MySkills.G-Skills .MySkill-level .l-graph {
  background-color: #3d3d3f;
}
#MySkills.G-Skills .skill-level-1 .l-graph {
  background-color: transparent;
}
#MySkills .skill-level-1 .l-graph {
  background-color: transparent;
  color: #000000;
  padding-left: 0.5em;
}
#MySkills .skill-level-2 .l-graph {
  padding-left: 0.5em;
  width: 20px;
}
#MySkills .skill-level-3 .l-graph {
  padding-left: 0.5em;
  width: 60px;
}
#MySkills .skill-level-4 .l-graph {
  padding-left: 0.5em;
  width: 95px;
}
#MySkills .skill-level-5 .l-graph {
  padding-left: 0.5em;
  width: 120px;
}


/** People Interested in Volunteering page **/
.profile {
  clear: none;
  float: left;
  height: 175px;
  width: 175px;
}
.profile .picture {
}



body.page-class-descriptions .view-class-descriptions h2 {
  margin-top: 1em;
}
body.page-class-descriptions .view-class-descriptions p {
  margin-top: 0;
}


/** image field in content types:
  book page
  class description
  event
  news item
  page
  project blog
  project event
  project wiki
**/
.views-field-field-image-fid,
.field-field-image {
  float: right;
}

/** Shows Archive **/
.view-Shows .views-row-odd,
.view-Shows .views-row-even {
  background-color: #e7e8e9;
  /*
  background-image: url(img/header-page-nosidebar.png);
  */
  background-position: left top;
  background-repeat: no-repeat;
  margin-bottom: 8px;
  padding: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.view-Shows .views-row-inner {
  /*
  background-image: url(img/header-page-nosidebar.png);
  */
  background-position: right bottom;
  background-repeat: no-repeat;
  margin-bottom: 8px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.view-Shows .views-field-field-om-show-capture-fid {
  background-color: gray;
  float: left;
  height: 85px;
  margin-right: 10px;
  width: 120px;
}

.view-Shows .views-field-group-nid a,
.view-Shows .views-field-title a {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}
.view-Shows .views-field-group-nid a:hover,
.view-Shows .views-field-title a:hover {
  color: #007e7a;
}
.view-Shows .views-field-group-nid a {
}
.view-Shows .views-field-title a {
}
.view-Shows .views-field-field-om-show-episode-number-value {
  font-weight: bold;
}
.view-Shows .views-field-value {
  
}

.views-table {
  margin:1em 0;
  width:100%;
}

/*Textmarks Feedback Styles*/
div.view-sms-feedback h3 {
  background-color: #939598;
  padding-bottom: 0;
  margin-bottom: 0;
  border-top: 1px solid #98160B;
  border-right: 1px solid #98160B;
  border-left: 1px solid #98160B;
  padding: 5px;
}
div.view-sms-feedback div.views-field-rownumber {
  background-color: #BDBEC0;
  border-left: 1px solid #98160B;
  border-right: 1px solid #98160B;
  padding: 5px 0 0 5px;
}
div.view-sms-feedback div.views-field-field-sms-message-value {
  background-color: #BDBEC0;
  border-bottom: 1px solid #98160B;
  border-left: 1px solid #98160B;
  border-right: 1px solid #98160B;
  padding: 0 0 5px 5px;
}

body.node-type-om-project .node #block-views-6077c92a16ec238b707780632c24fd7c .content {
  padding: 0;
}
body.node-type-om-project .node #block-views-6077c92a16ec238b707780632c24fd7c ul {
  padding-left: 0;
}
body.node-type-om-project .node #block-views-6077c92a16ec238b707780632c24fd7c .jcarousel-skin-ie7 .jcarousel-container-horizontal {
  overflow: hidden;
  padding: 0;
  width: 500px;
}
body.node-type-om-project .node #block-views-6077c92a16ec238b707780632c24fd7c .jcarousel-skin-ie7 .jcarousel-clip-horizontal {
  overflow: hidden;
  margin: 0 20px;
  width: 460px;
}
body.node-type-om-project .node #block-views-6077c92a16ec238b707780632c24fd7c ul.jcarousel-list jcarousel-list-horizontal {
  padding-left: 0;
}
body.node-type-om-project .node #block-views-6077c92a16ec238b707780632c24fd7c .jcarousel-skin-ie7 .jcarousel-item {
  height: 120px;
  width: 147px;
}
body.node-type-om-project .node #block-views-6077c92a16ec238b707780632c24fd7c .jcarousel-skin-ie7 .jcarousel-container {
  -moz-border-radius: 0;
  height: 140px;
}
.project-status tr.even {
  background-color: transparent;
}


body.node-type-om-project .node #block-views-6077c92a16ec238b707780632c24fd7c .content {
  background-color: 
}

body.node-type-om-project .node .jcarousel-skin-ie7 .jcarousel-prev-horizontal {
  background: transparent url(img/next-prev-small.png) no-repeat scroll left bottom;
  height: 140px;
  left: 0;
  top: 0;
  width: 14px;
}
body.node-type-om-project .node .jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover {
  background: transparent url(img/next-prev-small.png) no-repeat scroll left top;
}
body.node-type-om-project .node .jcarousel-skin-ie7 .jcarousel-next-horizontal {
  background: transparent url(img/next-prev-small.png) no-repeat scroll right bottom;
  height: 140px;
  right: 0;
  top: 0;
  width: 14px;
}
body.node-type-om-project .node .jcarousel-skin-ie7 .jcarousel-next-horizontal:hover {
  background: transparent url(img/next-prev-small.png) no-repeat scroll right top;
}

body.node-type-om-project .node .jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal,
body.node-type-om-project .node .jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:hover,
body.node-type-om-project .node .jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal,
body.node-type-om-project .node .jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:hover {
  background-image: none;
}

.block .view-show-details label {
  color: #666666;
}
.block .view-show-details span.field-content {
  background-color: #e7e8e9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  padding: 3px 9px;
  width: 129px;
}
.block .view-show-details span.field-content:hover,
.block .view-show-details span.field-content a:hover {
  background-color: #a6a6a6;
}

.handbookalert {
  padding: 10px;
  background-color:#FFCCCC;
  color:#A30000;
  border:1px solid #DD7777;
  margin: 25px;
  color:#A30000;
}
